require 'rails_helper'

RSpec.describe Mutations::<%= class_name %>, type: :request do

  describe 'resolve' do
   
  end

  def query(**args)
    <<~GQL
      mutation <%= class_name.underscore %>{
        <%= class_name.underscore %>{
          
        }
      }
    GQL
  end
end
